@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    height: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e3e3e3;
    flex-direction: column;
    gap: 50px;
}

div{
    color: rgb(175, 175, 175);
    height: 400px;
    font-size: 1000%;
    font-family: "Inter";
}

img{
    width: 1000px;
    height: auto;
}